In [153]:
import pandas as pd
import re
import nltk
import numpy as np

In [3]:
trainData = pd.read_csv("train.csv")

In [4]:
trainData.head()

       textID                                               text sentiment
0  cb774db0d1                I`d have responded, if I were going   neutral
1  549e992a42      Sooo SAD I will miss you here in San Diego!!!  negative
2  088c60f138                          my boss is bullying me...  negative
3  9642c003ef                     what interview! leave me alone  negative
4  358bd9e861   Sons of ****, why couldn`t they put them on t...  negative

In [5]:
trainData.dropna(subset=['text'], inplace = True)

In [6]:
trainData.text = trainData.text.apply(lambda x: re.sub(r'[^\w\s]', '', x))

In [7]:
from nltk.corpus import stopwords
stopwords = stopwords.words("english")
trainData.text = trainData.text.apply(lambda x: ' '.join([word for word in nltk.word_tokenize(x) if word.lower() not in stopwords]))

In [8]:
trainData.head()

       textID                                      text sentiment
0  cb774db0d1                        Id responded going   neutral
1  549e992a42                   Sooo SAD miss San Diego  negative
2  088c60f138                             boss bullying  negative
3  9642c003ef                     interview leave alone  negative
4  358bd9e861  Sons couldnt put releases already bought  negative

In [9]:
trainData.text = trainData.text.apply(lambda x: re.sub(r'\(?http\S+', '', x))

In [10]:
lemmatizer = nltk.WordNetLemmatizer()
trainData.text = trainData.text.apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(x)]))

In [6]:
#trainData.to_csv(r'C:\Users\yatai\OneDrive\Desktop\phase2msa\trainDataclean.csv')
trainDataClean = pd.read_csv("trainDataclean.csv")

In [27]:
import sklearn
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB, GaussianNB

In [28]:
vectorizer = CountVectorizer()

In [10]:
trainDataClean

,Unnamed: 0,textID,text,sentiment
0,0,cb774db0d1,Id responded going,neutral
1,1,549e992a42,Sooo SAD miss San Diego,negative
2,2,088c60f138,bos bullying,negative
3,3,9642c003ef,interview leave alone,negative
4,4,358bd9e861,Sons couldnt put release already bought,negative
...,...,...,...,...
27475,27476,4eac33d1c0,wish could come see u Denver husband lost job ...,negative
27476,27477,4f4c4fc327,Ive wondered rake client made clear NET dont f...,negative
27477,27478,f67aae2310,Yay good Enjoy break probably need hectic week...,positive
27478,27479,ed167662a5,worth,positive
27479,27480,6f7127d9d7,flirting going ATG smile Yay hug,neutral

In [68]:
trainDataClean.dropna(subset = ['text'], inplace = True)
X = vectorizer.transform(trainDataClean.text)

In [69]:
nb = MultinomialNB()

In [70]:
nb.fit(X, trainDataClean.sentiment)

MultinomialNB()

In [99]:
testData = pd.read_csv("test.csv")

In [100]:
testData.text = testData.text.apply(lambda x: re.sub(r'[^\w\s]', '', x))

In [101]:
from nltk.corpus import stopwords
stopwords = stopwords.words("english")
testData.text = testData.text.apply(lambda x: ' '.join([word for word in nltk.word_tokenize(x) if word.lower() not in stopwords]))

In [102]:
testData.text = testData.text.apply(lambda x: re.sub(r'\(?http\S+', '', x))

In [103]:
lemmatizer = nltk.WordNetLemmatizer()
testData.text = testData.text.apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(x)]))

In [419]:
#testData.to_csv(r'C:\Users\yatai\OneDrive\Desktop\phase2msa\testDataclean.csv')
testDataClean = pd.read_csv("testDataclean.csv")

In [420]:
testDataClean.dropna(subset = ['text'], inplace = True)
X_test = vectorizer.transform(testDataClean.text)

In [421]:
testDataClean

,Unnamed: 0,textID,text
0,0,f87dea47db,Last session day
1,1,96d74cb729,Shanghai also really exciting precisely skyscr...
2,2,eee518ae67,Recession hit Veronique Branquinho quit compan...
3,3,01082688c6,happy bday
4,4,33987a8ee5,like
...,...,...,...
3529,3529,e5f0e6ef4b,3 im tired cant sleep try
3530,3530,416863ce47,alone old house Thanks net keep alive kicking ...
3531,3531,6332da480c,know mean little dog sinking depression want m...
3532,3532,df1baec676,_sutra next youtube video gon na love video
3533,3533,469e15c5a8,omgssh ang cute ng bby

In [107]:
score = nb.score(X, trainDataClean.sentiment)

In [260]:
testDataClean

,Unnamed: 0,textID,text
0,0,f87dea47db,Last session day
1,1,96d74cb729,Shanghai also really exciting precisely skyscr...
2,2,eee518ae67,Recession hit Veronique Branquinho quit compan...
3,3,01082688c6,happy bday
4,4,33987a8ee5,like
...,...,...,...
3529,3529,e5f0e6ef4b,3 im tired cant sleep try
3530,3530,416863ce47,alone old house Thanks net keep alive kicking ...
3531,3531,6332da480c,know mean little dog sinking depression want m...
3532,3532,df1baec676,_sutra next youtube video gon na love video
3533,3533,469e15c5a8,omgssh ang cute ng bby

In [330]:
for i in range(len(testDataClean)):
    testDataClean['sentiment'] = "positive"

In [262]:
predictions = testDataClean.textID, nb.predict(X_test)

In [371]:
len(predictions[1])
#len(testDataClean)
predictions[1][3522]

'neutral'

In [390]:
j = 0
for i in range(len(testDataClean)):
    try:
        if not pd.isnull(testDataClean['text'][i]):
            testDataClean['sentiment'][i+j] = predictions[1][i]
    except:
        j += 1

<ipython-input-390-a36fb7e181cc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDataClean['sentiment'][i+j] = predictions[1][i]

In [396]:
testDataClean

          textID sentiment
0     f87dea47db  positive
1     96d74cb729  positive
2     eee518ae67  negative
3     01082688c6  positive
4     33987a8ee5   neutral
...          ...       ...
3529  e5f0e6ef4b  negative
3530  416863ce47   neutral
3531  6332da480c  negative
3532  df1baec676  positive
3533  469e15c5a8   neutral

[3523 rows x 2 columns]

In [393]:
testDataClean.drop('text', inplace = True, axis = 1)

In [395]:
testDataClean.drop('Unnamed: 0', inplace = True, axis = 1)

In [397]:
testDataClean.to_csv(r'C:\Users\yatai\OneDrive\Desktop\phase2msa\kagglesub.csv')

In [398]:
submission = pd.read_csv("sample_submission.csv")

In [402]:
len(submission)

3534

In [403]:
merged_inner = pd.merge(left=submission, right=testDataClean, left_on='textID', right_on='textID', how = 'left')

In [405]:
merged_inner.drop('sentiment_x', inplace = True, axis = 1)

In [407]:
merged_inner.to_csv(r'C:\Users\yatai\OneDrive\Desktop\phase2msa\kagglesubreal.csv')

In [422]:
gu = GaussianNB()

In [423]:
gu.fit(X.toarray(), trainDataClean.sentiment)

GaussianNB()

In [424]:
predictionsG = testDataClean.textID, nb.predict(X_test)

In [425]:
for i in range(len(testDataClean)):
    testDataClean['sentiment'] = "positive"

In [426]:
j = 0
for i in range(len(testDataClean)):
    try:
        if not pd.isnull(testDataClean['text'][i]):
            testDataClean['sentiment'][i+j] = predictionsG[1][i]
    except:
        j += 1

<ipython-input-426-9ed08290a5c8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDataClean['sentiment'][i+j] = predictionsG[1][i]

In [427]:
testDataClean

,Unnamed: 0,textID,text,sentiment
0,0,f87dea47db,Last session day,positive
1,1,96d74cb729,Shanghai also really exciting precisely skyscr...,positive
2,2,eee518ae67,Recession hit Veronique Branquinho quit compan...,negative
3,3,01082688c6,happy bday,positive
4,4,33987a8ee5,like,neutral
...,...,...,...,...
3529,3529,e5f0e6ef4b,3 im tired cant sleep try,negative
3530,3530,416863ce47,alone old house Thanks net keep alive kicking ...,neutral
3531,3531,6332da480c,know mean little dog sinking depression want m...,negative
3532,3532,df1baec676,_sutra next youtube video gon na love video,positive
3533,3533,469e15c5a8,omgssh ang cute ng bby,neutral

In [428]:
merged_inner2 = pd.merge(left=submission, right=testDataClean, left_on='textID', right_on='textID', how = 'left')

In [430]:
merged_inner2.to_csv(r'C:\Users\yatai\OneDrive\Desktop\phase2msa\kagglesubgaus.csv')